<html>
<head>
       <title>Moja strona <3 </title>
   </head>
   <body>
       <div>
           <h1> <a href="">Moja strona</a> </h1>
       </div>

       <div>
           <h2><a href=""> Mój pierwszy post </a></h2>
           <p>Opublikowany: 10.12.2016, 15:40</p>
           <p>Musisz przestrzegać zasad zamykania znaczników i zagnieżdżania elementów - przeciwnym razie przeglądarka może mieć problem z ich poprawnym zinterpretowaniem i Twoja strona będzie wyświetlać się niepoprawnie.</p>
       </div>

       <div>
           <h2><a href=""> Mój drugi post </a></h2>
           <p>Opublikowany: 10.12.2016 15:41</p>
           <p>Musisz przestrzegać zasad zamykania znaczników i zagnieżdżania elementów</p>
       </div>

   </body>
</html>
